<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Great Classroom Literature</title>
</head>
<body>
	<div id="popup">
		<div id="popup_bkgd">
		</div>
		<div id="popup_book">
		</div>
	</div>
	<header>
		<div id="adams_header">
			<div id="adams_logo"><a href="http://www.adamsbook.com" target="_blank">
				<p>powered by:</p>
				<img src="http://www.adamsbook.com/images/adams_logo_large.png"><a>
			</div>
			<ul>
				<li>See a book you like? Save 35% on 10+ copies. </li>
				<li>Call: (800) 221-0909 | Email: <a href="mailto:orders@adamsbook.com" style="text-decoration: underline">orders@adamsbook.com</a></li>
			</ul>
			<span class="clearfix"></span>
		</div>
		<h1><a>Great Classroom Literature</a></h1>
		<h2> Enjoy this interactive guide of over 200 titles. Sort by grade level or subject to create connections between courses. Click a title to get more information on how it might fit your curriculum.</h2>
		<div id="menu">
			<ul id="tags_list">
				<li id="grades">
					<h5>grades:</h5><br>
				</li>
				<li id="categories">
					<h5>topics:</h5><br>
				</li>
			</ul>
		</div>
		<div id="open_menu">
			<div id="open_text">
				Select Grades/Topics
			</div>
		</div>
	</header>
	
	<div id="container">
		<div id="columns">
		</div>
	</div>
	
	<footer>
		<ul>
			<li><img src="http://the-digital-reader.com/wp-content/uploads/2013/05/Hachette-Book-Group-LARGE111.jpg"></li>
			<li><img src="http://static1.squarespace.com/static/5285366ce4b0d01097248afe/t/54aacda1e4b039f270026427/1418308805946/HarperCollins+Lili+Anolik+Dark+Rooms+Novel.png?format=300w"></li>
			<li><img src="http://www.sec.gov/Archives/edgar/data/1580156/000119312513317337/g570278g02b92.jpg"></li>
			<li><img src="http://www.nodaweb.org/resource/resmgr/associate_member_logos/macmillan.gif"></li>
			<!-- <li><img src="http://upload.wikimedia.org/wikipedia/commons/3/32/Merriam-Webster_logo.svg"></li> -->
			<li><img src="https://southperthlibrary.files.wordpress.com/2013/12/penguin_logo_1.png"></li>
			<li><img src="http://www.heartlandfallforum.org/wp-content/uploads/2012/05/Random-House-Logo-1.png"></li>
<!-- 			<li><img src="http://ltadvisors.com/wp-content/uploads/2011/11/John-Wiley-Sons.png"></li> -->
			<li><img src="http://edmonton.momstown.ca/sites/edmonton.momstown.espresso.furthermore.ca/files/blogger_importer/s1600/scholastic%2Blogo.jpg"></li>
			<li><img src="http://www.joyceandjimlavene.com/EllieGrant/images/Simon-Schuster-Logo.jpg"></li>
			<li><img src="http://www.barronsbooks.com/img/logo_bottom.gif"></li>
			<li><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/bb/OUP_logo.svg/255px-OUP_logo.svg.png"></li>
			
		</ul>
	</footer>
	<script type="text/javascript" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</body>
</html>